.Tag {
	background-color: var(--text);
	display: flex;
	flex-direction: row;
	color: var(--bg);
	padding: 2px;
	padding-left: 10px;
	padding-right: 10px;
	border-radius: 5px;
	box-sizing: border-box;
}

[data-theme="dark"] .Tag {
	background-color: var(--text);
	color: var(--bg);
}
