.GetPokemonButton {
	border-radius: 8px;
	border: 1px solid #7c3aed;
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 5px;
	background-color: #7c3aed;
	padding: 10px;
	color: white;
}

@media (max-width: 768px) {
	.GetPokemonButton {
		justify-content: center;
	}
}
