.pixelify-sans-light {
	font-family: "Pixelify Sans", sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
}

.pixelify-sans-mid {
	font-family: "Pixelify Sans", sans-serif;
	font-optical-sizing: auto;
	font-weight: 550;
	font-style: normal;
}

.pixelify-sans-dark {
	font-family: "Pixelify Sans", sans-serif;
	font-optical-sizing: auto;
	font-weight: 550;
	font-style: normal;
}
