.PokemonArea.flipped {
	display: flex;
	width: 100%;
	box-sizing: border-box;
	justify-content: center;
	padding-left: 100px;
	padding-right: 100px;
}

.PokemonArea.flipped {
	display: grid;
	grid-template-columns: 0.25fr 0.75fr;
	width: 100%;
	column-gap: 10px;
	box-sizing: border-box;
	justify-content: center;
	padding-left: 100px;
	padding-right: 100px;
}

.stats-row {
	grid-column: 1 / -1;
}

@media (max-width: 768px) {
	.PokemonArea.flipped {
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding-left: 5px;
		padding-right: 5px;
		gap: 10px;
	}
}
