.PokemonArea {
	display: grid;
	grid-template-columns: 1fr 1fr;
	column-gap: 50px;
	box-sizing: border-box;
	justify-content: center;
	padding-left: min(100px, 5%);
	padding-right: min(100px, 5%);
}

@media (max-width: 1100px) {
	.PokemonArea {
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding-left: 5px;
		padding-right: 5px;
		gap: 10px;
	}
}
