.PokemonDescription h1,
.PokemonDescription h2,
.PokemonDescription h3,
.PokemonDescription p {
	text-align: left;
}

.PokemonDescription {
	padding-top: 25px;
}

.Header {
	margin-bottom: 16px;
}
.Abilities {
	border-radius: 10px;
	padding: 10px;
	margin-bottom: 10px;
}

.BasicInfo {
	padding: 10px;
}

p.value {
	text-align: right;
}

.content {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

@media (max-width: 1204px) {
	.content {
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding-left: 5px;
		padding-right: 5px;
		gap: 10px;
	}
}
