.ThemeToggler {
	outline: none;
	border: 1px solid;
	border-radius: 8px;
	border: 1px solid #e5e7eb;
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 5px;
	padding: 10px;
	box-sizing: border-box;
	width: 145px;
}

[data-theme="dark"] .ThemeToggler {
	border: 1px solid #2e3448;
}

/* .ThemeToggler:hover {
	background-color: #d3d3d3;
	background-color: var(--hover-color);
} */

@media (max-width: 768px) {
	.ThemeToggler {
		justify-content: center;
	}
}
