.Navbar {
	display: flex;
	width: 100%;
	flex-direction: row-reverse;
	justify-content: center;
	align-items: center;
	margin-bottom: 25px;
	box-sizing: border-box;
	gap: 10px;
	border-bottom: 2px solid #e5e7eb;
	box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 30px;
	padding-right: 30px;
}

[data-theme="dark"] .Navbar {
	border-bottom: 2px solid #242a3d;
	box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
}

.Navbar div {
	font-size: 3rem;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: auto;
}

@media (max-width: 768px) {
	.Navbar {
		flex-direction: column;
	}

	.Navbar button {
		width: 100%;
	}

	.Navbar div {
		margin-right: 0px;
		font-size: 2.5rem;
		order: -1;
		margin-bottom: 10px;
	}
}
